body {
    background-color: #eef;
    overflow: hidden;
}


/* ペンのスタイル */
.pen img{
    
    width: 8vw;  /* 100 / 12 */
    float: left;
    display: flex;

}

.pen {
    position: absolute;
    top: 78vh;
}


/* Canvasのスタイル */
.p5Canvas{
    position: fixed;
    left: 15vw;
    top: 3vh;
}


/* 左に並んでいるボタンのスタイル */
.button {
    position: relative;
    text-align: right;
}

.button img{
    display: flex;
    flex-direction: column;  /* 縦に並べる */
    text-align: right;
    margin: 1vw;
}

.reset {    
    width: 15vh;
}

.weight_1{
    width: 8vh;
}

.weight_2 {
    width: 12vh;
}

.weight_3 {
    width: 15vh;
}

.eraser {
    width: 15vh;
}